.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

body {
  background-color: rgb(255, 227, 230);
  color: rgb(129, 121, 121);
}

.dice {
  text-align: center;
  display: inline-block;
}

h1 {
  margin: 30px;
  font-size: 8rem;
  font-family: "Lobster", cursive;
}

p {
  font-size: 2rem;
  font-family: "Indie Flower", cursive;
}

img {
  width: 80%;
}
